*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #454545;
}
.container{
    background-color: #0e5d6b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.container h1{
    color: #fff;
    margin-bottom: 20px;
}
.container p{
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}
.container button{
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #0e5d6b;
    transition: background-color 0.3s ease;
}
.container button:hover{
    background-color: #ddd;
}
