/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f3f3f3;
}



/* NAVBAR */

.navbar{
    background-color: #131921;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    flex-wrap: wrap;
}

.logo img{
    height: 40px;
    width: 100px;
}

.loc{
    margin: 20px;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    width: 50%;
}

.opt{
    height: 40px;
    width: 70px;

    border: none;

    background-color: #f3f3f3;
}

#items{
    width: 100%;
    height: 40px;

    border: none;
    outline: none;

    padding-left: 10px;
}

.search-btn{
    height: 40px;
    width: 50px;

    border: none;

    cursor: pointer;

    background-color: #febd69;
}

.la{
    height: 40px;

    background-color: #232f3e;
    color: white;

    border: none;

    padding: 5px;
}
.log{
    color: white;
}
.return{
    color: white;
}
.cart{
    color: white;
}









.products{
    padding: 20px;
}

.product-card{
    background-color: white;

    display: flex;
    gap: 20px;

    margin-bottom: 20px;

    padding: 20px;

    border-radius: 10px;
}

.product-image img{
    width: 250px;
    height: 250px;

    object-fit: contain;
}

.product-info{
    flex: 1;
}

.product-info h3{
    font-size: 22px;

    margin-bottom: 10px;

    line-height: 1.4;
}

.rating{
    color: #ff9900;

    margin-bottom: 10px;
}

.price{
    font-size: 32px;
    font-weight: bold;

    margin-bottom: 10px;
}

.delivery{
    color: green;

    margin-bottom: 15px;
}

.product-info button{
    background-color: #ffd814;

    border: none;

    padding: 12px 40px;

    border-radius: 25px;

    cursor: pointer;

    font-size: 16px;
}



/* TRENDING */

.trending{
    padding: 20px;
}

.trending h2{
    margin-bottom: 20px;
}

.trend-container{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    gap: 20px;
}

.trend-card{
    background-color: white;

    padding: 15px;

    border-radius: 10px;

    text-align: center;
}

.trend-card img{
    width: 100%;
    height: 220px;

    object-fit: contain;

    margin-bottom: 15px;
}

.trend-card p{
    margin-bottom: 10px;

    line-height: 1.5;
}

.trend-card h3{
    margin-bottom: 15px;

    font-size: 28px;
}

.trend-card button{
    width: 100%;

    background-color: #ffd814;

    border: none;

    padding: 10px;

    border-radius: 20px;

    cursor: pointer;
}


footer{
    background-color: #131921;
    color: white;

    margin-top: 30px;
}

.call{
    text-align: center;

    background-color: #37475a;

    padding: 15px;

    cursor: pointer;
}

.footer-links{
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

    gap: 30px;

    padding: 40px;
}

.footer-links a{
    display: block;

    text-decoration: none;

    margin: 8px 0;

    color: #dddddd;

    font-size: 14px;
}

.footer-links p{
    color: white;

    font-size: 16px;

    margin-bottom: 10px;

    font-weight: bold;
}

.foot{
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;

    padding: 20px;

    flex-wrap: wrap;
}

.img1{
    height: 40px;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang{
    height: 35px;

    background-color: #232f3e;
    color: white;

    border: 1px solid gray;

    padding: 5px;
}

.butt{
    background-color: #232f3e;
    color: white;

    border: 1px solid gray;

    padding: 8px 20px;

    cursor: pointer;
}
.about{
    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;

    padding: 15px;
}

.about a{
    color: #dddddd;

    text-decoration: none;

    font-size: 14px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .navbar{
        flex-direction: column;
        gap: 15px;
    }



    .product-card{
        flex-direction: column;
        text-align: center;
    }

    .product-image img{
        width: 100%;
        height: 220px;
    }

    .price{
        font-size: 26px;
    }

}